{% extends "base.html" %}
{% block content %}
<section class="ylasivu">
    <header class="ylaotsikko">
        <h1>Arkimuisti<br>
            <span class="miniotsikko">Askareet</span>
        </h1>    
    </header>
    <article class="ylakappale">
        {% if errors %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Muokkaus ei onnistunut!</strong>
        </div>
        {% endif %}
        <form method="post" action='{{base_path}}/tasks/edit/{{askare.a_tunnus}}'>
            <div class="form-group">
                <label>Tehty</label>
                {% if askare.a_tehty %}
                {{askare.a_tehty}}
                <input type="checkbox" class="form-control" name="tehty" checked/>
                {% else %}
                <input type="checkbox" class="form-control" name="tehty"/>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Nimi</label>
                <input type="text" class="form-control" name="nimi" value="{{askare.a_nimi}}"/>
                {% for error in errors.nimi %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>
            <div class="form-group">
                <label>Kuvaus</label>
                <input type="text" class="form-control" name="kuvaus" value="{{askare.a_kuvaus}}"/>
                {% for error in errors.kuvaus %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>
            <div class="form-group">
                <label>Prioriteetti (1-10)</label>
                <input type="text" class="form-control" name="prioriteetti" value="{{askare.a_prioriteetti}}"/>
                {% for error in errors.prioriteetti %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>
            <div class="form-group">
                <label>Toistuvuus (vrk)</label>
                <input type="text" class="form-control" name="toistuvuus" value="{{askare.a_toistuvuus}}"/>
                {% for error in errors.toistuvuus %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>
            <div class="form-group">
                <label>Deadline</label>
                <input type="text" class="form-control" name="deadline" value="{{askare.a_deadline}}"/>
                {% for error in errors.deadline %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>
            <div class="form-group">
                <label>Luokka</label>

                <select  class="form-control" name="luokat[]" multiple="">
                    {% for luokka in luokat %}
                    {% if luokka.l_tunnus in askareenluokat %}
                    <option value="{{luokka.l_tunnus}}" selected>{{luokka.l_nimi}}</option>
                    {% else %}
                    <option value="{{luokka.l_tunnus}}" >{{luokka.l_nimi}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                {% for error in errors.luokat %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Muokkaa</button>
            </div>
        </form>


    </article>
</section>

{% endblock %}

