{% extends "base.html" %}
{% block content %}
<section class="ylasivu">
    <header class="ylaotsikko">
        <h1>Arkimuisti<br>
            <span class="miniotsikko">Salasanan nollaus</span>
        </h1>    
    </header>
    <article class="ylakappale">

        {% if errors or onOlemassa or vanha or salasanat %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Salasanan nollaus ei onnistunut!</strong>
        </div>
        {% endif %}
        {% if message %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong class="viesti"> {{message}}</strong>
        </div>
        {% endif %}

        <form method="post" action="{{base_path}}/users/resetPass/{{kayttaja.k_tunnus}}">
            <div class="form-group">
                <label>Nimi: {{kayttaja.k_nimi}}</label>
               <input type="hidden" name="nimi" value="{{kayttaja.k_nimi}}"/>
            </div>
            <div class="form-group">
                <label>Uusi salasana</label>
                <input type="password" name="salasana" class="form-control" value="{{attributes.salasana}}">
                {% for error in errors.salasana %}
                <p class="warning">"{{error}}"</p>
                {% endfor %} 
            </div>
            <div class="form-group">
                <label>Uusi salasana uudelleen</label>
                <input type="password" name="uusi2" class="form-control" value="{{attributes.uusi2}}">
                {% if salasanat %}
                <p class="warning">{{salasanat}}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </form>


    </article>
</section>

{% endblock %}
