{% extends "base.html" %}
{% block content %}
<section class="ylasivu">
    <header class="ylaotsikko">
        <h1>Arkimuisti<br>
            <span class="miniotsikko">Luokat</span>
        </h1>    
    </header>
    <article class="ylakappale">
        <p>
            <button class="btn btn-success">Lisää uusi luokka</button> 
        </p>

        <h3> Lisäämäsi luokat </h3>
        
        <ul class="listaus">
            <li>Kissat <a class="btn btn-default btn-sm" href="#">Muokkaa</a>  
                    <a class="btn btn-default btn-sm" href="#" href="#">Poista</a></li>
            <li>Koirat <a class="btn btn-default btn-sm" href="#">Muokkaa</a>  
                    <a class="btn btn-default btn-sm" href="#" href="#">Poista</a></li>
            <li>Siivous <a class="btn btn-default btn-sm" href="#">Muokkaa</a>  
                    <a class="btn btn-default btn-sm" href="#" href="#">Poista</a></li>
            <li>Pyykinpesu <a class="btn btn-default btn-sm" href="#">Muokkaa</a> 
                    <a class="btn btn-default btn-sm" href="#" href="#">Poista</a></li>
        </ul>
        
    </article>
</section>



{% endblock %}
