{% extends "base.html" %}
{% block content %}

<section class="ylasivu">
    <header class="ylaotsikko">
        <h1>Arkimuisti<br>
            <span class="miniotsikko">Tietojen päivitys</span>
        </h1>    
    </header>
    <article class="ylakappale">
        <p>
        <form method="post" action="{{base_path}}/users/edit">
            <div class="form-group">
                <label>Käyttäjätunnus: {{  }}</label>
            </div>
            <div class="form-group">
                <label>Entinen salasana</label>
                <input type="text" class="form-control" value="************">
            </div>
            <div class="form-group">
                <label>Uusi salasana</label>
                <input type="text" class="form-control" value="************">
            </div>
            <div class="form-group">
                <label>Uusi salasana uudelleen</label>
                <input type="text" class="form-control" value="************">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </form>
    </article>
</section>


{% endblock %}