{% extends "base.html" %}
{% block content %}

<section class="ylasivu">
    <header class="ylaotsikko">
        <h1>Arkimuisti<br>
            <span class="miniotsikko">Arjen muistilista</span>
        </h1>    
    </header>
    <article class="ylakappale">
        <p>Arkimuisti on apuväline, jonka avulla arjen askareet saadaan helpolla tavalla luokiteltua
            mielekkäisiin ryhmiin luokkansa avulla sekä listoihin prioriteettinsa mukaisessa järjestyksessä.
            Askareille voi määrittää luokituksen kuten siivous, lemmikit, ruoka jne. Luokkia voi itse lisätä tarpeen mukaan.
            Askareita saa lajiteltua luokittelun, kiirellisyyden, prioriteetin mukaan. 
            Palvelu on käytössä vain rekisteröityneille käyttäjille. </p>

        <p>Arkimuisti on uusavuttomien höppänöiden pelastus normaalien asioiden muistamiseksi!</p>

        <p>
            <a href="{{base_path}}/rekisteroidy">Rekisteröidy käyttäjäksi</a> 
        </p>
    </article>


</section>


{% endblock %}