{% extends "base.html" %}
{% block content %}

<section class="ylasivu">
    <header class="ylaotsikko">
        <h1>Arkimuisti<br>
            <span class="miniotsikko">Käyttäjät</span>
        </h1>    
    </header>
    <article class="ylakappale">
        <h1>Rekisteröidy</h1>
        {% if errors or onOlemassa %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Rekisteröityminen ei onnistunut!</strong>
        </div>
        {% endif %}

        <form method="post" action="{{base_path}}/users/add">
            <div class="form-group">
                <label>Käyttäjätunnus</label>
                <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
                {% for error in errors.nimi %}
                "{{error}}"<br>
                {% endfor %}
                {% if onOlemassa %}
                {{onOlemassa}}
                {% endif %}

            </div>

            <div class="form-group">
                <label>Salasana</label>
                <input type="password" name="salasana" class="form-control">

                {% for error in errors.salasana %}
                "{{error}}"<br>
                {% endfor %}
            </div>
            <div class="form-group" >
                <input type="text" name="kr_tunnus" class="form-control" value="2" id="hidden"> 
            </div>
            <div class="form-group" >
                Huom! Älä valitse salasanaa, jota käytät oikeasti. Salasanat eivät ole turvassa tässä demoversiossa ;)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </form>
    </article>
</section>
{% endblock %}
